*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto&display=swap');


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


.container{
    width: 1200px;
    margin: 0 auto;
}

.container:before,
.container::after{
    content: "";
    display: table;
    clear: both;
}

.section-padding-top{
    padding-top: 70px;
}

.section-padding-bottom{
    padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.col-20{
    width: 20%;
    float: left;

}

.col-25{
    width: 22%;
    float: left;
}

.col-33{
    width: 31.33%;

}
.col-50{
    width: 50%;
    float: right;
}

.col-80{
    width: 80%;
    float: right;
    padding-top: 20px;
}


/* header css */

.logo img {
    height: 44px;
    width: 160px;
    padding-top: 10px;
}

.logo{
    display: inline-block;
    margin-left: 45px;
}

.body{
    background-image: url(../image/slider1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}
.top{
    margin: 26px 0;
    background-color: #ffffff;
}

.mainmenu ul li{
    list-style: none;
    display: inline-block; 
    padding: 0 17px;   
}

.mainmenu ul li a{
    text-decoration: none;
    color: #505050;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    padding: 0 6px;
    padding-top: 7px;
}

.mainmenu ul li a:hover{
    color: #ff5421;
}

.mainmenu i{
    display: inline-block;
    color: #ff5421;
    padding: 0 20px;
}

.mainmenu span{
    background-color: #ff5421;
    color: bisque;
    padding: 5px;
    border-radius: 10px;
}

.topbar .col-50 i{
    padding: 10px;
    color: #ff5421;

}

.topbar .col-50 a{
    color:#ffffff;

}

.topbar{
    background-color: black;
    padding: 20px 30px 49px 127px;
}

.top .container{
    width: 100%;
}


/* body css */

.body span{
    font-size: 45px;
    color: #ff5421;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.body h3{
    font-size: 75px;
    color: #ffffff;
    text-transform: uppercase;
}

.body p{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.write{
    padding: 130px;
}

.btn{
    background-color: #ff5421;
    color: bisque;
    padding: 15px;
    border-radius: 10px;
    margin-top: 40px;
    display: inline-block;
    margin-left: 30px;
    text-transform: uppercase;
}

.bt{
    background-color:#ffffff;
    color:black;
    padding: 15px;
    border-radius: 10px;
    margin-top: 40px;
    display: inline-block;
    margin-left: 30px;
    text-transform: uppercase;
}


/* box section css */

.col-33 h5{
    font-size: 20px;
}

.col-33 p{
    font-size: 16px;
}
.col-33{
    text-align: center;
    background-color: blanchedalmond;
    height: 200px;
    display: inline-block;
    margin: 10px 10px;
}

.box h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #ff5421;
    font-family: 'Poppins', sans-serif;
}

.box p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #64605f;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.box{
    text-align: center;
}



/* another section css */

.col-25 i{
    color: #ff5421;
    margin-top: 80px;
}

.col-25 span{
    font-size: 45px;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    font-weight: 700;

}

.col-25 p{
    font-size: 20px;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    font-weight: 300;
}

.another{
    background-image: url(../image/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 300px;
    margin-top: 50px;
}

.col-25{
    display: inline-block;
    margin-left: 10px;
}